
<nav class="nav__container">
    <div>
        <a href="#" class="nav__link nav__logo">
            <img src="assets/img/logo_nugis.png" alt="" class="navbar__img" style="width: 45px; height: 45px;">
            <span class="nav__logo-name">Faisal</span>
        </a>

        <div class="nav__list">
            <div class="nav__items">
                <h3 class="nav__subtitle">Profile</h3>

                <a href="#home" class="nav__link active">
                    <i class='bx bx-home nav__icon' ></i>
                    <span class="nav__name">Home</span>
                </a>
                
                <div class="nav__dropdown">
                    <a href="#" class="nav__link">
                        <i class='bx bx-user nav__icon' ></i>
                        <span class="nav__name">Profile</span>
                        <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                    </a>

                    <div class="nav__dropdown-collapse">
                        <div class="nav__dropdown-content">
                            <a href="#profile/passwords" class="nav__dropdown-item">Passwords</a>
                            <a href="#profile/mail" class="nav__dropdown-item">Mail</a>
                            <a href="#profile/accounts" class="nav__dropdown-item">Accounts</a>
                        </div>
                    </div>
                </div>

                <a href="#messages" class="nav__link">
                    <i class='bx bx-message-rounded nav__icon' ></i>
                    <span class="nav__name">Messages</span>
                </a>
            </div>

            <div class="nav__items">
                <h3 class="nav__subtitle">Menu</h3>

                <div class="nav__dropdown">
                    <a href="#" class="nav__link">
                        <i class='bx bx-task nav__icon' ></i>
                        <span class="nav__name">Tugas</span>
                        <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                    </a>

                    <div class="nav__dropdown-collapse">
                        <div class="nav__dropdown-content">
                            <a href="#tugas/chapter1" class="nav__dropdown-item">Chapter 1</a>
                            <a href="#tugas/chapter2" class="nav__dropdown-item">Chapter 2</a>
                            <a href="#tugas/chapter3" class="nav__dropdown-item">Chapter 3</a>
                            <a href="#tugas/chapter4" class="nav__dropdown-item">Chapter 4</a>
                            <a href="#tugas/chapter5" class="nav__dropdown-item">Chapter 5</a>
                            <a href="#tugas/chapter6" class="nav__dropdown-item">Chapter 6</a>
                            <a href="#tugas/chapter7" class="nav__dropdown-item">Chapter 7</a>
                            <!-- <a href="#tugas/chapter9" class="nav__dropdown-item">Chapter 9</a> -->
                        </div>
                    </div>

                </div>
                <a href="#map" class="nav__link">
                    <i class='bx bx-map nav__icon' ></i>
                    <span class="nav__name">Map</span>
                </a>
                <a href="#swagger" class="nav__link">
                    <i class='bx bx-code-alt nav__icon' ></i>
                    <span class="nav__name">Swagger</span>
                </a>
                <!-- <a href="#saved" class="nav__link">
                    <i class='bx bx-bookmark nav__icon' ></i>
                    <span class="nav__name">Saved</span>
                </a> -->
            </div>
        </div>
    </div>

    <a href="#logout" class="nav__link nav__logout">
        <i class='bx bx-log-in nav__icon' ></i>
        <span class="nav__name">Log In</span>
    </a>
    <a href="#logout" class="nav__link nav__logout">
        <i class='bx bx-log-out nav__icon' ></i>
        <span class="nav__name">Log Out</span>
    </a>
</nav>
